<!DOCTYPE html>
<head>
</head>
<body>

<div class="container">
    <form action="/board/save" method="post">
        <input type="text" name="boardWriter" placeholder="작성자"><br>
        <input type="text" name="boardTitle" placeholder="제목"><br>
        <input type="text" name="boardPass" placeholder="비밀번호"><br>
        <textarea name="boardContents" cols="30" rows="10"></textarea> <br>
        <input type="hidden" name="boardhits" value="0">
        <input type="submit" value="글작성">
    </form>


</div>


</body>
</html>